@use '@styles/colors';
@use '@styles/grid';
@use '@components/Listen/Listen.use.scss' as Listen;

$episodeList-text-color: colors.$white-a-80;
$episodeList-text-color--active: colors.$white;

$episodeList-divider-color: var(--listen-divider-color, colors.$white-a-60);
$episodeList-divider-size: 2px;

$episodeList-header-text-color: colors.$white;
$episodeList-header-icon-color: colors.$white-a-50;
$episodeList-header-icon-color--active: colors.$white;

:export {
  --episodeList-text-color: #{$episodeList-text-color};
  --episodeList-text-color--active: #{$episodeList-text-color--active};

  --episodeList-divider-color: #{$episodeList-divider-color};
  --episodeList-divider-size: #{$episodeList-divider-size};

  --episodeList-header-text-color: #{$episodeList-header-text-color};
  --episodeList-header-icon-color: #{$episodeList-header-icon-color};
  --episodeList-header-icon-color--active: #{$episodeList-header-icon-color--active};
}

.root {
  display: grid;
  grid-template-rows: min-content 1fr;

  color: var(--episodeList-header-text-color);

  @media (min-width: Listen.$breakpoint-full) {
    & {
      overflow: hidden;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding-block: 0.5rem;
  padding-inline: 1rem;

  border-top-style: solid;
  border-top-width: var(--episodeList-divider-size);
  border-top-color: var(--episodeList-divider-color);

  border-bottom-style: solid;
  border-bottom-width: var(--episodeList-divider-size);
  border-bottom-color: var(--episodeList-divider-color);

  background-color: var(--listen-background-color, colors.$black-a-90);

  font-size: clamp(0.75rem, 5vw, 1rem);
  font-weight: 700;

  @media (min-width: Listen.$breakpoint-full) {
    background-color: transparent;
  }
}

.button {
  display: grid;
  grid-template-columns: 2em 1fr;
  align-items: center;
  gap: 0.5em;

  padding: 0;

  font-weight: inherit;
  line-height: 1;
}

.buttonIcon {
  fill: var(--episodeList-header-icon-color);

  &.up {
    --up-fill-color: var(--episodeList-header-icon-color--active);
  }
  &.down {
    --down-fill-color: var(--episodeList-header-icon-color--active);
  }
}

.episodeList {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  padding-block-end: var(--gutter-size-block-end, var(--gutter-size-block));
}

.tracks {
  display: grid;
  align-content: start;
  overflow: hidden;
  overflow-y: auto;
}
