@use '@styles/colors';

@property --iconButton--color {
  syntax: '<color>';
  inherits: true;
}

.heading {
  font-size: clamp(0.8rem, 5vw, 1.125rem);
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
  text-wrap: pretty;
  text-transform: uppercase;

  margin-block-start: 0;
  margin-block-end: 0.25em;
}

.nav {
  --iconButton--color: light-dark(#{colors.$black}, #{colors.$white});

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  a {
    transition: opacity 200ms linear,
      scale 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &:where(:hover, :focus-within) a:not(:hover, :focus-visible) {
    opacity: 0.5;
    scale: 0.9;
  }
}
