@use '@styles/colors';
@use '@components/Listen/Listen.use.scss' as Listen;

$footerPlayer-background-color: colors.$black-a-60;

$footerPlayer-divider-color: var(--listen-divider-color, colors.$white-a-60);

$footerPlayer-text-size--max: 1.25rem;
$footerPlayer-text-size--min: 1rem;

$footerPlayer-thumbnail-size: 60px;
$footerPlayer-thumbnail-size--mobile: 24px;

:export {
  --footerPlayer-background-color: #{$footerPlayer-background-color};

  --footerPlayer-divider-color: #{$footerPlayer-divider-color};

  --footerPlayer-text-size--max: #{$footerPlayer-text-size--max};
  --footerPlayer-text-size--min: #{$footerPlayer-text-size--min};

  --footerPlayer-thumbnail-size: #{$footerPlayer-thumbnail-size};
  --footerPlayer-thumbnail-size--mobile: #{$footerPlayer-thumbnail-size--mobile};
}

.root {
  transition: transform 300ms ease-in-out;
  transform: translateY(100%);
  position: absolute;
  isolation: isolate;
  left: 8px;
  right: 8px;
  bottom: calc(100% + 8px);

  display: grid;
  grid-template-columns: var(--footerPlayer-thumbnail-size--mobile) 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'THUMB TITLE'
    'CTRLS CTRLS'
    'PROG PROG';
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.25rem;

  padding: 0.5rem;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--footerPlayer-background-color);

    backdrop-filter: blur(15px);

    border-radius: 5px;
  }

  &.isShown {
    transform: translateY(0);
  }

  @media (min-width: Listen.$breakpoint-full) {
    & {
      grid-template-columns: var(--footerPlayer-thumbnail-size) 1fr min-content;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        'THUMB TITLE CTRLS'
        'THUMB PROG CTRLS';
      column-gap: 1rem;
      row-gap: 0.25rem;

      padding: 1rem 1.25rem;
    }
  }
}

.thumbnail {
  grid-area: THUMB;
  position: relative;
  aspect-ratio: 1;

  border-radius: 3px;
  border: 1px solid var(--footerPlayer-divider-color);
}

.info {
  grid-area: TITLE;
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.title {
  overflow: hidden;

  font-size: clamp(
    var(--footerPlayer-text-size--min),
    3vw,
    var(--footerPlayer-text-size--max)
  );
  font-weight: 700;

  @media (min-width: Listen.$breakpoint-full) {
    & {
      font-size: var(--footerPlayer-text-size--max);
    }
  }
}

.closedCaptionsButton {
  --iconButton--size: 24px;
}

.closedCaptionsEnabled {
  color: var(--accent-color, #{colors.$secondary-500});
}

.closedCaptionModal {
  @media (min-width: Listen.$breakpoint-full) {
    --modal-background-blur: 16px;
    --cc-feed--gutter: 5rem;
    --cc-feed--justify-content: end;
    container-type: inline-size;

    background-color: transparent;
    background-image: linear-gradient(
      to left,
      var(--modal-background-color) var(--cc-feed--max-width),
      transparent
    );
  }
}

.controls {
  --iconButton--size: clamp(36px, 10vw, 40px);

  grid-area: CTRLS;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.progress {
  grid-area: PROG;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.settingsMenu {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: space-between;
  align-items: center;
  row-gap: 16px;
  column-gap: clamp(12px, 4vw, 48px);

  padding: 1em;

  background-color: var(--footerPlayer-background-color);

  backdrop-filter: blur(15px);

  border-radius: 5px;

  color: var(--listen-text-color);
}

.setting {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.settingLabel {
  display: flex;
  align-items: center;
  column-gap: 4px;
  white-space: nowrap;
  user-select: none;

  svg {
    width: 30px;
  }

  @media (max-width: 440px) {
    & > :not(svg) {
      display: none;
    }
  }
}

.volume {
  grid-column: 1 / -1;
}
