@use 'colors';
@use './page';
@use './grid';

:export {
  bodyColor: #{$background-color};
}

.footer {
  @include page.full-width;
  height: 5rem;
  background-color: $grey-800;

  & h3 {
    display: grid;
    color: $white;
  }
}
