.root {
  --_skeleton--width: var(--skeleton--width, 100%);
  --_skeleton--height: var(--skeleton--height, 1em);
  --_skeleton--color: var(--skeleton--color, currentColor);
  --_skeleton--base-color: color-mix(
    in lch,
    var(--_skeleton--color) 10%,
    transparent
  );
  --_skeleton--highlight-color: color-mix(
    in lch,
    var(--_skeleton--color) 30%,
    transparent
  );

  position: relative;
  display: block;
  width: var(--_skeleton--width);
  height: var(--_skeleton--height);
  min-height: 1em;
  overflow: hidden;

  border-radius: 100vw;

  &::before {
    content: '';
    transform: translateX(-75%);

    animation: shimmer 2s linear infinite;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400%;

    background-image: linear-gradient(
      to right,
      var(--_skeleton--base-color) 25%,
      var(--_skeleton--highlight-color) 50%,
      var(--_skeleton--base-color) 75%
    );
    background-size: 100%;
  }

  .wrapper &:last-child {
    --skeleton--width: 40%;
  }
}

.wrapper {
  display: grid;
  gap: calc(var(--_skeleton--height, 1em) * 0.35);
}

@keyframes shimmer {
  from {
    transform: translateX(-75%);
  }
  to {
    transform: translateX(0);
  }
}
