.wrapper {
  display: block;
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  overflow: hidden;

  & > .image {
    position: absolute;
    inset: 0;
  }
}

.image {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
