@import '@styles/colors';
@import '@styles/grid';

$playlist-text-color: $white-a-80;
$playlist-text-color--active: $white;
$playlist-background-color: $grey-100;
$playlist-background-color--active: $primary-500;
$playlist-thumbnail-size: 40px;
$playlist-thumbnail-corner-radius: 10px;
$playlist-divider-color: $grey-600;
$playlist-divider-size: 1px;

:export {
  --playlist-text-color: #{$playlist-text-color};
  --playlist-text-color--active: #{$playlist-text-color--active};
  --playlist-background-color: #{$playlist-background-color};
  --playlist-background-color--active: #{$playlist-background-color--active};
  --playlist-thumbnail-size: #{$playlist-thumbnail-size};
  --playlist-thumbnail-corner-radius: #{$playlist-thumbnail-corner-radius};
  --playlist-divider-color: #{$playlist-divider-color};
  --playlist-divider-size: #{$playlist-divider-size};
}

.playlist {
  display: grid;
  align-content: start;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--playlist-background-color);
}

.track {
  $padding-v: 10px;
  $padding-h: 15px;
  position: relative;
  display: grid;
  grid-template-columns: var(--playlist-thumbnail-size) 1fr min-content;
  grid-gap: 15px;
  align-items: center;
  padding: $padding-v $padding-h;
  border-bottom-style: solid;
  border-bottom-width: var(--playlist-divider-size);
  border-bottom-color: var(--playlist-divider-color);
  color: var(--playlist-text-color);
  font-size: 1rem;

  &.isCurrentTrack {
    color: var(--playlist-text-color--active);

    & > * {
      position: relative;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      inset: ($padding-v * -1) ($padding-h * -1);
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      opacity: 0.35;

      background-color: var(
        --accent-color,
        var(--playlist-background-color--active)
      );
    }
  }
}

.trackThumbnail {
  @include grid-stacked(after);
  overflow: hidden;
  border-radius: var(--playlist-thumbnail-corner-radius);
  &::after {
    content: '';
    z-index: 1;
    box-shadow: inset 0 0 0 2px var(--divider-color);
    border-radius: inherit;
  }
}

.trackTitle {
  justify-self: start;

  font-weight: bold;
  text-align: left;
}
