:export {
  --playButton-size: 60px;
  --playButton-padding: 0.0001px; // Need a really small non-zero value.
}

.root {
  --iconButton-size: var(--playButton-size);
  --iconButton-padding: var(--playButton-padding);
  color: var(--playButton-color, var(--iconButton-color--promote));
}
