.root {
  overflow: hidden;
}

.content {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding-inline-start: var(--marquee--padding-inline);
  padding-inline-end: var(--marquee--padding-inline, 0.25em);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(var(--marquee-offset));
  }
  100% {
    transform: translateX(var(--marquee-offset));
  }
}
