@mixin wordBreak {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > * {
    display: inline-block;
    white-space: pre;
  }
}

:export {
  --playerText-title-size--min: 1.125rem;
  --playerText-title-size--max: 1.5rem;
  --playerText-title-size: clamp(
    var(--playerText-title-size--min),
    5vw,
    var(--playerText-title-size--max)
  );
}

.root {
  display: grid;
  grid-template-columns: var(--playerText-title-size) 1fr;
  grid-template-areas:
    'TT TT'
    'ST ST';
  gap: 5px;
  align-items: center;

  &.isExplicit {
    grid-template-areas:
      'EX TT'
      'ST ST';
  }
}

.title {
  --marquee--padding-inline: var(--column-gap);

  grid-area: TT;

  display: grid;

  margin-block: 0;
  margin-inline: calc(var(--marquee--padding-inline) * -1);

  font-size: var(--playerText-title-size);

  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0) calc(var(--marquee--padding-inline) / 4),
    hsl(0 0% 0% / 1) var(--marquee--padding-inline),
    hsl(0 0% 0% / 1) calc(100% - var(--marquee--padding-inline)),
    hsl(0 0% 0% / 0) calc(100% - (var(--marquee--padding-inline) / 4))
  );
}

.subtitle {
  grid-area: ST;

  @include wordBreak;

  margin: 0;
}

.explicit {
  grid-area: EX;

  fill: currentColor;
  width: var(--playerText-title-size);
}
