@mixin wordBreak {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > * {
    display: inline-block;
    white-space: pre;
  }
}

:export {
  --playerText-title-size--min: 1.125rem;
  --playerText-title-size--max: 1.5rem;
}

.root {
  display: grid;
  gap: 5px;
}

.title {
  display: grid;

  font-size: clamp(
    var(--playerText-title-size--min),
    5vw,
    var(--playerText-title-size--max)
  );
  margin: 0;
}

.subtitle {
  @include wordBreak;

  margin: 0;
}
