@use '@styles/colors';
@use '@styles/grid';

$playerProgress-gap: 20px;

:export {
  --playerProgress-progress-color: #{colors.$secondary-500};
  --playerProgress-handle-color: #{colors.$white-a-50};
  --playerProgress-handle-size: 3px;
  --playerProgress-track-color: #{colors.$white-a-50};
  --playerProgress-size: 10px;
}

.root {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: $playerProgress-gap;
  align-items: center;

  line-height: 0;
}

.track {
  --track-size: var(--playerProgress-size);
  --track-radius: calc(var(--track-size) / 2);

  @include grid.stacked;

  position: relative;

  touch-action: none;

  height: var(--track-size);
  overflow: hidden;

  cursor: col-resize;

  border-radius: var(--track-radius);
  background-color: var(--playerProgress-track-color);

  &::after {
    content: '';
    grid-row: 1;
    grid-column: 1;

    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--progress, 0) * 100%);
    height: var(--track-size);

    background-color: var(--accent-color, var(--playerProgress-progress-color));
    background-image: linear-gradient(
      to right,
      var(--accent-gradient, transparent)
    );
    background-size: var(--track-width, calc(100vw - 150px));
    background-attachment: scroll;

    border-right: var(--playerProgress-handle-size) solid
      var(--playerProgress-handle-color);
  }
}
