@use '@styles/colors';
@use '@styles/grid';

$modal-background-color: colors.$black-a-90;
$modal-background-blur: 8px;
$modal-text-color: colors.$white;

:export {
  --modal-background-color: #{$modal-background-color};
  --modal-background-blur: #{$modal-background-blur};
  --modal-text-color: #{$modal-text-color};
}

.root {
  @include grid.stacked;
  position: absolute;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--modal-background-color);

  color: var(--modal-text-color);
  backdrop-filter: blur(var(--modal-background-blur, 0));
}

.closeButton {
  align-self: start;
  position: sticky;
  top: 0.5rem;
  right: 0.5rem;

  margin-inline-start: auto;
}

.content {
  display: grid;
  place-content: center;
  padding: 2rem;
}
