@use '@styles/colors';
@use '@styles/grid';

$modal-background-color: colors.$black-a-90;
$modal-background-blur: 8px;
$modal-text-color: colors.$white;

:export {
  --modal-background-color: #{$modal-background-color};
  --modal-background-blur: #{$modal-background-blur};
  --modal-text-color: #{$modal-text-color};
  --modal-content-padding: 2rem;
}

.root {
  --_modal-button--visibility: var(--modal-button--visibility, initial);

  @include grid.stacked;
  position: absolute;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--modal-background-color);

  color: var(--modal-text-color);
  backdrop-filter: blur(var(--modal-background-blur, 0));
}

.closeButton {
  visibility: var(--_modal-button--visibility);
  align-self: start;
  position: sticky;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 999;

  margin-inline-start: auto;
}

.content {
  display: grid;
  place-content: center;
  padding-inline-start: var(
    --modal-content-padding-inline-start,
    var(--modal-content-padding-inline, var(--modal-content-padding))
  );
  padding-inline-end: var(
    --modal-content-padding-inline-end,
    var(--modal-content-padding-inline, var(--modal-content-padding))
  );
  padding-block-start: var(
    --modal-content-padding-block-start,
    var(--modal-content-padding-block, var(--modal-content-padding))
  );
  padding-block-end: var(
    --modal-content-padding-block-end,
    var(--modal-content-padding-block, var(--modal-content-padding))
  );
}
