@use '@styles/colors';
@use '@styles/grid';
@use '@components/Listen/Listen.use.scss' as Listen;

$padding-v: 1rem;
$padding-h: 1rem;

$episodeCard-text-color: inherit;

$episodeCard-title-text-color: $episodeCard-text-color;
$episodeCard-title-text-color--active: $episodeCard-title-text-color;
$episodeCard-title-text-color--focus: $episodeCard-title-text-color;
$episodeCard-title-text-color--hover: $episodeCard-title-text-color;
$episodeCard-title-text-size--max: 1.25rem;
$episodeCard-title-text-size--min: 1rem;

$episodeCard-subtitle-text-color: $episodeCard-text-color;
$episodeCard-subtitle-text-size--max: 1rem;
$episodeCard-subtitle-text-size--min: 0.75rem;

$episodeCard-footer-text-color: $episodeCard-text-color;
$episodeCard-footer-text-size--max: 1rem;
$episodeCard-footer-text-size--min: 0.75rem;

$episodeCard-background-color: transparent;
$episodeCard-background-color--active: colors.$primary-500;
$episodeCard-background-color--focus: colors.$black-a-50;
$episodeCard-background-color--hover: transparent;

$episodeCard-thumbnail-border-color: colors.$white-a-50;
$episodeCard-thumbnail-border-size: 2px;
$episodeCard-thumbnail-size: 100px;
$episodeCard-thumbnail-size--mobile: 40px;
$episodeCard-thumbnail-icon-color: colors.$white;
$episodeCard-thumbnail-tint-color: colors.$black-a-50;
$episodeCard-thumbnail-tint-color--hover: colors.$black-a-70;

$episodeCard-divider-color: var(--listen-divider-color);
$episodeCard-divider-size: 1px;

$episodeCard-corner-radius: 5px;

.root {
  --_episodeCard-text-color: var(
    --episodeCard-text-color,
    #{$episodeCard-text-color}
  );

  --_episodeCard-title-text-color: var(
    --episodeCard-title-text-color,
    #{$episodeCard-title-text-color}
  );
  --_episodeCard-title-text-color--active: var(
    --episodeCard-title-text-color--active,
    #{$episodeCard-title-text-color--active}
  );
  --_episodeCard-title-text-color--focus: var(
    --episodeCard-title-text-color--focus,
    #{$episodeCard-title-text-color--focus}
  );
  --_episodeCard-title-text-color--hover: var(
    --episodeCard-title-text-color--hover,
    #{$episodeCard-title-text-color--hover}
  );
  --_episodeCard-title-text-size--max: var(
    --episodeCard-title-text-size--max,
    #{$episodeCard-title-text-size--max}
  );
  --_episodeCard-title-text-size--min: var(
    --episodeCard-title-text-size--min,
    #{$episodeCard-title-text-size--min}
  );

  --_episodeCard-subtitle-text-color: var(
    --episodeCard-subtitle-text-color,
    #{$episodeCard-subtitle-text-color}
  );
  --_episodeCard-subtitle-text-size--max: var(
    --episodeCard-subtitle-text-size--max,
    #{$episodeCard-subtitle-text-size--max}
  );
  --_episodeCard-subtitle-text-size--min: var(
    --episodeCard-subtitle-text-size--min,
    #{$episodeCard-subtitle-text-size--min}
  );

  --_episodeCard-footer-text-color: var(
    --episodeCard-footer-text-color,
    #{$episodeCard-footer-text-color}
  );
  --_episodeCard-footer-text-size--max: var(
    --episodeCard-footer-text-size--max,
    #{$episodeCard-footer-text-size--max}
  );
  --_episodeCard-footer-text-size--min: var(
    --episodeCard-footer-text-size--min,
    #{$episodeCard-footer-text-size--min}
  );

  --_episodeCard-background-color: var(
    --episodeCard-background-color,
    #{$episodeCard-background-color}
  );
  --_episodeCard-background-color--active: var(
    --episodeCard-background-color--active,
    #{$episodeCard-background-color--active}
  );
  --_episodeCard-background-color--focus: var(
    --episodeCard-background-color--focus,
    #{$episodeCard-background-color--focus}
  );
  --_episodeCard-background-color--hover: var(
    --episodeCard-background-color--hover,
    #{$episodeCard-background-color--hover}
  );
  --_episodeCard-background-image-position--active: var(
    --episodeCard-background-image-position--active,
    top
  );
  --_episodeCard-background-image-size--active: var(
    --episodeCard-background-image-size--active,
    100vh
  );

  --_episodeCard-thumbnail-border-color: var(
    --episodeCard-thumbnail-border-color,
    #{$episodeCard-thumbnail-border-color}
  );
  --_episodeCard-thumbnail-border-size: var(
    --episodeCard-thumbnail-border-size,
    #{$episodeCard-thumbnail-border-size}
  );
  --_episodeCard-thumbnail-size: var(
    --episodeCard-thumbnail-size,
    #{$episodeCard-thumbnail-size}
  );
  --_episodeCard-thumbnail-size--mobile: var(
    --episodeCard-thumbnail-size--mobile,
    #{$episodeCard-thumbnail-size--mobile}
  );
  --_episodeCard-thumbnail-icon-color: var(
    --episodeCard-thumbnail-icon-color,
    #{$episodeCard-thumbnail-icon-color}
  );
  --_episodeCard-thumbnail-tint-color: var(
    --episodeCard-thumbnail-tint-color,
    #{$episodeCard-thumbnail-tint-color}
  );
  --_episodeCard-thumbnail-tint-color--hover: var(
    --episodeCard-thumbnail-tint-color--hover,
    #{$episodeCard-thumbnail-tint-color--hover}
  );

  --_episodeCard-divider-color: var(
    --episodeCard-divider-color,
    #{$episodeCard-divider-color}
  );
  --_episodeCard-divider-size: var(
    --episodeCard-divider-size,
    #{$episodeCard-divider-size}
  );

  --_episodeCard-corner-radius: var(
    --episodeCard-corner-radius,
    #{$episodeCard-corner-radius}
  );

  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: $padding-h;
  align-items: start;
  overflow: hidden;

  margin: 0;
  padding: $padding-v $padding-h;

  border-top-style: solid;
  border-top-width: var(--_episodeCard-divider-size);
  border-top-color: var(--_episodeCard-divider-color);

  color: var(--_episodeCard-text-color);
  font-size: clamp(0.8rem, 4.5vw, 1rem);

  &::before {
    content: '';
    position: absolute;
    display: block;
    inset: ($padding-v * -1) ($padding-h * -1);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & > * {
    position: relative;
  }

  &:first-of-type {
    margin-block-start: $padding-v;
    border-top: none;
  }

  &:last-of-type {
    margin-block-end: $padding-v;
  }

  &:focus {
    outline: none;
  }

  &:focus-within {
    &::before {
      background-color: var(
        --accent-color,
        var(--_episodeCard-background-color--focus)
      );
    }
  }

  &.isCurrentTrack {
    color: var(--_episodeCard-text-color--active);

    border-top-color: transparent;

    & + * {
      border-top-color: transparent;
    }

    &::before {
      opacity: 0.35;
      background-color: var(
        --accent-color,
        var(--_episodeCard-background-color--active)
      );
      background-image: linear-gradient(
        to bottom right,
        var(--accent-gradient, transparent)
      );
      background-attachment: fixed;
      background-position: 0 0;
      background-size: 100% 100vh;
      border-radius: var(--_episodeCard-corner-radius);
    }
  }

  @media (pointer: fine) {
    &:hover {
      color: var(--_episodeCard-text-color--hover);

      &:not(.isCurrentTrack)::before {
        background-color: var(--_episodeCard-background-color--hover);
      }
    }
  }
}

.thumbnail {
  @include grid.stacked;
  width: var(--_episodeCard-thumbnail-size--mobile);
  aspect-ratio: 1;
  overflow: hidden;
  transform: translateZ(0);

  box-shadow: 0 0 0 var(--_episodeCard-thumbnail-border-size)
    var(--_episodeCard-thumbnail-border-color);
  border-radius: 50%;

  @media (min-width: Listen.$breakpoint-full) {
    width: var(--_episodeCard-thumbnail-size);

    border-radius: 0;
  }
}

.buttons {
  --iconButton-size: var(--_episodeCard-thumbnail-size--mobile);
  --iconButton-padding: 0;
  --iconButton-color: var(--_episodeCard-thumbnail-icon-color);
  --iconButton-color--hover: var(--_episodeCard-thumbnail-icon-color);
  --iconButton-background-color: var(--_episodeCard-thumbnail-tint-color);
  --iconButton-background-color--hover: var(
    --episodeCard-thumbnail-tint-color--hover
  );
  --iconButton-border-radius: 0;

  z-index: 2;

  @media (min-width: Listen.$breakpoint-full) {
    display: none;
  }
}

.main {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.title {
  color: var(--_episodeCard-title-text-color);
  font-size: clamp(
    var(--_episodeCard-title-text-size--min),
    5vw,
    var(--_episodeCard-title-text-size--max)
  );
  font-weight: 700;
  text-align: left;

  padding: 0;

  :where(.isCurrentTrack) & {
    color: var(--_episodeCard-title-text-color--active);
  }

  &:focus-visible {
    color: var(--_episodeCard-title-text-color--focus);
  }

  @media (pointer: fine) {
    &:hover {
      color: var(--_episodeCard-title-text-color--hover);
    }
  }
}

.subtitle {
  color: var(--_episodeCard-subtitle-text-color);
  font-size: clamp(
    var(--_episodeCard-subtitle-text-size--min),
    5vw,
    var(--_episodeCard-subtitle-text-size--max)
  );
}

.footer {
  --spacing: 0.5rem;

  display: flex;
  align-items: flex-start;
  gap: calc(var(--spacing) / 1.5);

  color: var(--_episodeCard-footer-text-color);
  font-size: clamp(
    var(--_episodeCard-footer-text-size--min),
    5vw,
    var(--_episodeCard-footer-text-size--max)
  );
  font-weight: 300;

  @media (min-width: Listen.$breakpoint-full) {
    align-items: center;
  }
}

.controls {
  display: none;
  margin-inline-start: calc(var(--iconButton-padding) * -1);

  @media (min-width: Listen.$breakpoint-full) {
    display: block;
  }
}

.explicit {
  fill: currentColor;
  width: 1.5em;
  line-height: 0;
}

.info {
  overflow: hidden;
}

.infoWrapper {
  position: relative;
  inset-inline-start: calc(var(--spacing) * -1);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--spacing);

  & > * {
    white-space: nowrap;

    &::before {
      content: '\2022';
      margin-inline-end: var(--spacing);
    }
  }
}
