@use '@styles/colors';

.iconButton {
  --_iconButton--background-color: var(
    --iconButton--background-color,
    transparent
  );
  --_iconButton--background-color--hover: var(
    --iconButton--background-color--hover,
    #{colors.$white-a-10}
  );
  --_iconButton--outline-color--focus: var(
    --iconButton--outline-color--focus,
    #{colors.$white-a-10}
  );
  --_iconButton--outline-width--focus: var(
    --iconButton--outline-width--focus,
    3px
  );
  --_iconButton--border-radius: var(--iconButton--border-radius, 100vw);
  --_iconButton--color: var(--iconButton--color, #{colors.$white-a-50});
  --_iconButton--color--promote: var(
    --iconButton--color--promote,
    #{colors.$white-a-80}
  );
  --_iconButton--color--hover: var(
    --iconButton--color--hover,
    #{colors.$white}
  );
  --_iconButton--color--focus: var(
    --iconButton--color--focus,
    #{colors.$white}
  );
  --_iconButton--size: var(--iconButton--size, 40px);
  --_iconButton--padding: var(
    --iconButton--padding,
    5px
  ); // Override with a really small non-zero value, eg `0.0001px`.

  display: grid;
  grid-template-columns: var(--_iconButton--size);
  grid-template-rows: var(--_iconButton--size);
  place-items: stretch;
  overflow: hidden;

  padding: var(--_iconButton--padding);

  border-radius: var(--_iconButton--border-radius);

  background-color: var(--_iconButton--background-color);

  color: var(--_iconButton--color);
  line-height: 0;

  > span {
    display: grid;
    place-items: center;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: -0.1ch;
  }

  > svg {
    width: auto;
    height: auto;
    aspect-ratio: 1;

    fill: currentColor;

    &[class*='fa-'] {
      padding: var(--_iconButton--padding);
    }
  }

  &:active {
    background-color: var(--_iconButton--background-color--hover);
    color: var(--_iconButton--color--hover);
  }

  &:focus-visible {
    outline-width: var(--_iconButton--outline-width--focus);
    outline-color: var(--_iconButton--outline-color--focus);
    outline-style: solid;
    color: var(--_iconButton--color--focus);
  }

  @media (pointer: fine) {
    &:hover {
      background-color: var(--_iconButton--background-color--hover);
      color: var(--_iconButton--color--hover);
    }
  }
}
