@use './colors';

@mixin root {
  min-height: 100vh;
  background-color: colors.$grey-100;
}

@mixin content {
  max-width: 900px;
  margin-inline: auto;
}

@mixin header {
  min-height: 300px;
}

@mixin headerBackground {
  z-index: -1;
}
