@mixin light() {
  color-scheme: light dark;

  &[data-theme='light'] {
    color-scheme: light;
    @content;
  }

  @media (prefers-color-scheme: light) {
    &[data-theme='auto'] {
      color-scheme: light;
      @content;
    }
  }
}

@mixin light-child() {
  [data-theme='light'] & {
    color-scheme: light;
    @content;
  }

  @media (prefers-color-scheme: light) {
    [data-theme='auto'] & {
      color-scheme: light;
      @content;
    }
  }
}
