$player-height: 200px;
$gap-size: 3px;
$thumbnail-width: 40px;

:export {
  thumbnailWidth: $thumbnail-width;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.main {
  width: 100vw;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: $player-height;
  grid-auto-rows: 1fr;
  grid-row-gap: $gap-size;

  > * {
    background-color: hsl(0, 0%, 30%);
  }

  &.withCoverArt {
    $cover-size: min(100vh - $player-height, 100vw);
    width: $cover-size;
    grid-template-rows: $cover-size $player-height;
  }

  &.withPlaylist {
    height: 100vh;
  }
}

.cover {
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// PLACEHOLDER STYLES BELOW. MOVE TO COMPONENTS.

.player {
  position: relative;
  display: grid;
  overflow: hidden;
}

.playerBackground {
  $blurAmount: 50px;
  position: absolute;
  inset: 0;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(0 0 0% / 0.5);
    backdrop-filter: blur($blurAmount);
  }
}

.playerControls {
  position: relative;
  display: grid;
  place-content: center;
  color: #f5f5f5;
  font-size: 3rem;

  button {
    padding: 0.5em;
    line-height: 0;
    color: hsla(0, 0%, 100%, 0.7);

    &:hover {
      color: hsla(0, 0%, 100%, 1);
    }

    &:focus {
      background-color: hsla(0, 0%, 100%, 0.25);
    }

    > svg {
      width: 3rem;
    }
  }
}

.playlist {
  display: grid;
  grid-gap: 5px;
  align-content: start;

  overflow: hidden;
  overflow-y: auto;

  padding: 5px;
}

.track {
  --thumbnail-width: 40px;
  display: grid;
  grid-template-columns: var(--thumbnail-width) 1fr;
  grid-gap: 15px;
  align-items: center;
  padding: 10px 15px;

  background-color: hsla(0, 0%, 100%, 0.1);

  color: hsl(0, 0%, 80%);
  font-size: clamp(0.8rem, 5vw, 1.15rem);
  font-weight: bold;

  > img {
    width: var(--thumbnail-width);
    border-radius: 25%;
    border: 1px solid hsl(0, 0%, 100%);
  }

  &.isCurrentTrack {
    background-color: hsla(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%);
  }
}
