:root {
  // White at specific alphas.
  --c-white: hsl(0 0% 100%);
  --c-white-a-10: hsl(0 0% 100% / 0.1);
  --c-white-a-20: hsl(0 0% 100% / 0.2);
  --c-white-a-30: hsl(0 0% 100% / 0.3);
  --c-white-a-40: hsl(0 0% 100% / 0.4);
  --c-white-a-50: hsl(0 0% 100% / 0.5);
  --c-white-a-60: hsl(0 0% 100% / 0.6);
  --c-white-a-70: hsl(0 0% 100% / 0.7);
  --c-white-a-80: hsl(0 0% 100% / 0.8);
  --c-white-a-90: hsl(0 0% 100% / 0.9);

  // Grays
  --c-grey-100: hsl(0 0% 10%);
  --c-grey-200: hsl(0 0% 20%);
  --c-grey-300: hsl(0 0% 30%);
  --c-grey-400: hsl(0 0% 40%);
  --c-grey-500: hsl(0 0% 50%);
  --c-grey-600: hsl(0 0% 60%);
  --c-grey-700: hsl(0 0% 70%);
  --c-grey-800: hsl(0 0% 80%);
  --c-grey-900: hsl(0 0% 90%);

  // Primary
  --c-primary-100: #75bbe1;
  --c-primary-500: #0087bd;
  --c-primary-900: #37729d;

  // Secondary
  --c-secondary-100: #fccc88;
  --c-secondary-500: #ff9600;
  --c-secondary-900: #8a570f;

  // Icon Button
  --iconButton-background-color--hover: var(--c-white-a-10);
  --iconButton-outline-color--focus: var(--c-white-a-10);
  --iconButton-outline-width--focus: 3px;
  --iconButton-border-radius: 50%;
  --iconButton-color: var(--c-white-a-50);
  --iconButton-color--promote: var(--c-white-a-80);
  --iconButton-color--hover: var(--c-white);
  --iconButton-color--focus: var(--c-white);
  --iconButton-size: 40px;

  // Button
  --button-bg-color: var(--c-primary-500);
  --button-bg-color--hover: hsl(198 100% 32%);

  // Progress
  --playerProgress-progress-color: var(--c-secondary-500);
  --playerProgress-track-color: var(--c-white-a-50);
  --playerProgress-size: 10px;

  // Text
  --track-title-min-size: 1.125rem;
  --track-title-max-size: 1.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  border-radius: 0;
  color: currentColor;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
