.container {
  padding: 0 2rem;
  background-color: hsl(210, 25%, 30%);
  animation-name: color-shift;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 45vw;
  color: whitesmoke;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: hsl(0 0 100% / 0.3);
  text-transform: uppercase;
  font-size: clamp(5rem, 10vw, 12rem);
  margin-block: 0;
}

@keyframes color-shift {
  0% {
    background-color: hsl(210, 25%, 30%);
  }
  100% {
    background-color: hsl(110, 25%, 30%);
  }
}
