.container {
  padding: 0 2rem;
  background-color: hsl(0 0 30%);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 45vw;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: hsl(0 0 100% / 0.3);
  text-transform: uppercase;
  font-size: clamp(5rem, 10vw, 12rem);
  margin-block: 0;
}
