@use './page';
@use './colors';
@use './grid';

.root {
  color: colors.$white;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.header {
}

.main {
  @include page.content-grid;
}

.content {
}

.footer {
}
