@use './page';
@use './colors';

:export {
  bodyColor: #{colors.$primary-900};
}

.root {
  @include page.root;
}

//To do: move into header component
.header {
  width: 100vw;
  height: 364px;

  background-color: colors.$grey-500;
}

.main {
  @include page.content;
}

.footer {
  width: 100vw;
  height: 15rem;
  background-color: colors.$grey-800;
}
