@use './page';
@use './colors';
@use './grid';

.root {
  @include page.page-grid(true);
}

.header {
  @include page.header(false, true);
  display: grid;
  place-content: center;

  color: colors.$white;

  background-color: colors.$grey-500;
}

.main {
  @include page.content;
}

.footer {
  @include page.footer;
}
