@use './colors';
@use './page';
@use './grid';

.root {
  @include page.root;
  background-color: colors.$grey-100;
}

.header {
  @include grid.grid-stacked;
  @include page.header;

  color: colors.$white;

  background-color: colors.$grey-500;
}

.headerContent {
  @include page.content;
  align-self: center;
}

.headerBackground {
  @include page.headerBackground;
}

.content {
  @include page.content;
  padding-block-end: 4rem;
}

.episodes {
  display: grid;
  gap: 0.5rem;
}

.episode {
  display: grid;

  grid-template-columns: min-content 1fr;

  grid-template-areas:
    'DATE TITLE'
    'DATE TEASER';
  align-items: start;
  column-gap: 2rem;
  padding: 1rem;

  background-color: colors.$white;

  border-left-style: solid;
  border-left-color: colors.$primary-700;
  border-left-width: 0.25rem;
}

.episodeDate {
  grid-area: DATE;
  display: grid;
  font-size: 2em;
}

.episodeTitle {
  grid-area: TITLE;
  font-weight: 700;
  color: colors.$primary-700;
}

.episodeTeaser {
  grid-area: TEASER;
}

.footer {
  height: 15rem;
  background-color: colors.$grey-800;
}
