@import './colors';
@import './page';

:export {
  bodyColor: #{$primary-900};
}

.root {
  background-color: $grey-100;
}

.header {
  width: 100vw;
  height: 300px;

  background-color: $grey-500;
}

.content {
  width: 100vw;
  max-width: 900px;
  padding: 2rem 0rem;
  margin: auto;
}

.episodeContainer {
  width: 56rem;
  margin: 0.5rem auto;
}

.episodeBox {
  background-color: $white;
  height: 4rem;
  margin: 0.25rem 1rem;

  border-left-style: solid;
  border-left-color: $primary-700;
  border-left-width: 0.25rem;

  display: grid;

  .episodeDate {
    grid-area: 'DATE';
    font-size: 2em;
    padding: 0.5rem;
  }

  .episodeTitle {
    grid-area: 'TITLE';
    grid-template-columns: 3rem auto;
  }

  .episodeTeaser {
    grid-area: 'TEASER';
  }

  grid-template-areas:
    'DATE TITLE'
    'DATE TEASER';
}

.episodeDate {
  margin: 0;
}

.episodeTitle {
  color: $primary-900;
  margin: 0rem;
  padding: 0rem;
}

.episodeTeaser {
  margin: 0rem auto;
  padding: 0.25rem;
}

.footer {
  width: 100vw;
  height: 15rem;
  background-color: $grey-800;
}
